.btn-contact {
  border: none;
  border-radius: 8px;
  padding: 16px;
  background: #1f4068;
  font-size: 16px;
  line-height: normal;
  color: white;
  cursor: pointer;
  margin: 0;
}

.btn-contact:hover {
  border-color: #1f4068;
  background-color: #162447;
}

.btn-ghost {
  border: 2px solid #e43f5a;
  border-radius: 32px;
  padding: 8px 12px;
  background-color: transparent;
  font-size: 12px;
  line-height: normal;
  color: white;
  cursor: pointer;
  margin: 0;
}

.btn-ghost:hover {
  background-color: #e43f5a;
}


@media (max-width: 768px) {

  .btn-contact {
    width: 100%;
  }
}
