@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@300;400;700&display=swap');
@import url(components/banner.css);
@import url(components/navbar.css);
@import url(components/avatar.css);
@import url(components/buttons.css);
@import url(components/cards.css);


html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

/*javascript bootstrap class*/
.wow {
  visibility: hidden;
}


/*top section*/
#top {
  max-height: auto;
  box-shadow: 0 4px 2px -2px gray;
}

.header {
  padding-top: 72px;
}

/*./top section*/

/*about section*/
#about {
  height: auto;
  background-color: #1f4068;
  padding-top: 104px;
}

.about-top h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 56px;
  padding-top: 48px;
  padding-bottom: 16px;
  color: white;
}

.about-top p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 56px;
  padding-top: 8px;
  padding-bottom: 48px;
  color: white;
  text-align: center;
}

/*/.about section*/


/*skills section*/

#skills {
  height: auto;
  background-color: #1f4068;
  padding-top: 128px;

}

/*//diagonal box*/
.diagonal-box {
  min-height: 70vh;
  background-color: #e43f5a;
  transform: skewY(-11deg);
  padding: calc(960px * 0.09719); /* tan(11°)/2  == 0.09719 , 960 is the container's width*/
  overflow: hidden;
}

.content {
  transform: skewY(11deg);
}
/*./diagonal box*/


.skills-top h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 56px;
  padding-bottom: 4px;
  color: white;
  text-transform: uppercase;
}



.skills-top p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 56px;
  padding-top: 8px;
  padding-bottom: 48px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}


.skills-logo {
  font-size: 56px;
  color: white;
}

.skills-logo:hover {
  color: #1b1b2f;
}

/*./skills section*/

/*Contacl section*/
#contact {
  height: auto;
  background-color: #1f4068;
  padding-top: 200px; //fix this later for margin above contact form
}

#contact h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 54px;
  padding-top: 48px;
  padding-bottom: 16px;
  color: white;
}

.contact-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 56px;
  background-color: white;
  border: 1px solid #e43f5a;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  padding: 64px;
  margin: 40px 0;
}

.contact-form .form-control{
    border-radius:0.6rem;
}

.form-control:focus {
  border-color: #e43f5a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228,64,89, 0.4);
}

#status {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #e43f5a;
  font-weight: bold;
  line-height: 40px;
}

/*./contact section*/

/*Projects section*/

#projects {
  height: auto;
  background-color: #1f4068;
  padding-top: 200px;
}

.project-top {

}

.project-top h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 56px;
  padding-bottom: 4px;
  color: white;
  text-transform: uppercase;
}



.project-top p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 32px;
  padding-top: 8px;
  padding-bottom: 32px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.project-top a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #e43f5a;
  font-weight: bold;
  font-size: 16px;

}




/*./Projects section*/

/*mobile view*/
@media (max-width: 768px) {

.skills-top h2 {
  font-size: 16px;
}

.skills-top p {
  font-size: 12px;
}

.skills-logo {
  font-size: 32px;
  padding: 16px;
}

.diagonal-box {
  /*min-height: 7vh;*/
  padding: calc((960px * 0.09719)/3);
}

.contact-form {
  padding: 40px;
}
}

/*./mobile view*/
